@use "./breakpoints";
@use "./variables";

.contact-section {
  padding-top: 4rem;
  .contact-title {
    font-size: 4rem;
    font-weight: 700;
  }
  .contact-box {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: variables.$color-mossgreen;
    color: white;
    padding-top: 2rem;
    padding-inline: 1rem;
    font-size: 1.4rem;

    @include breakpoints.lg {
      padding: 3rem;
      font-size: 2rem;
      font-weight: 600;
    }

    .email-link {
      background-color: variables.$color-dark-goldenrod;
      color: white;
      text-decoration: none;
      font-size: 1.7rem;
      padding: 1rem 2.6rem;
      transition: background-color 0.5s ease-in-out;
      margin-bottom: 4rem;
      border-radius: 45px;
      cursor: pointer;
      @include breakpoints.lg {
        font-size: 2rem;
        padding-inline: 3rem;
        padding-block: 1.3rem;
        margin-top: 3rem;
      }

      &:hover {
        background-color: rgba(120, 32, 101, 0.77);
      }
    }
  }

  .socialmedia {
    margin-block: 1rem;
    a {
      text-decoration: none;
      color: white;
      margin-inline: 1rem;
    }
  }

  #googlemaps {
    height: 400px;
    // width: 700px;
    // max-width: 700px;
    background-color: variables.$color-sage;
    padding: 0.4rem;
    margin-bottom: 1rem;
    box-shadow: 1px 6px 80px -17px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 1px 6px 80px -17px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 1px 6px 80px -17px rgba(255, 255, 255, 0.4);

    @include breakpoints.lg {
      margin-bottom: 0;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-content {
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  margin: 1rem;

  // Full screen on small devices
  @media (max-width: 575px) {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    border-radius: 0;
  }

  .btn-theme {
    font-size: 1.2rem;
  }
}

.d-none {
  display: none !important;
}
