@use "./breakpoints";
@use "./variables";

.contact-section {
  padding-top: 4rem;

  .contact-title {
    font-size: 4rem;
    font-weight: 700;
  }

  .contact-box {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C1D0A;
    color: white;
    padding-top: 2rem;
    font-size: 1.4rem;

    @include breakpoints.lg {
      padding: 3rem;
      font-size: 2rem;
      font-weight: 600;
    }

  }

  .socialmedia {
    margin-block: 1rem;

    a {
      text-decoration: none;
      color: white;
      margin-inline: 1rem;
    }
  }

  #googlemaps {
    height: 400px;
    // width: 700px;
    // max-width: 700px;
    background-color: variables.$color-sage;
    padding: 0.4rem;
    margin-bottom: 1rem;
    box-shadow: 1px 6px 80px -17px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 1px 6px 80px -17px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 1px 6px 80px -17px rgba(255, 255, 255, 0.4);

    @include breakpoints.lg {
      margin-bottom: 0;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-content {
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;

}

.d-none {
  display: none !important;
}