@use "./breakpoints";
@use "./variables";
// CSS Grid for gallery images

.gallery-section {
  margin-top: 3rem;

  @include breakpoints.md {
    margin-top: auto;
  }

  @include breakpoints.lg {
    margin-top: auto;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include breakpoints.md {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }

    @include breakpoints.lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .gallery-grid img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

    max-height: 600px;
    aspect-ratio: 5 / 6;
    object-fit: cover;
  }

  .gallery-title {
    position: relative; // required for z-index to apply
    z-index: 10; // above CTA background overlap
    font-size: 5rem;
    font-weight: 700;
    margin-right: 7rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  .carousel {
    border-radius: 20px;
    background-color: variables.$color-sage;
    padding-top: 3rem;
    padding-inline: 1.3rem;
    padding-bottom: 4.2rem;

    @include breakpoints.lg {
      padding-inline: 3rem;
    }
  }

  .gallery-item-button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    display: block;
    border-radius: 20px;
  }
}