@use "./breakpoints";
@use "./variables" as variables;

.newsletter-section {
    padding: 4rem 1rem;
    background-color: variables.$color-cta-bg;
    text-align: center;
    // border-top: 1px solid rgba(0, 0, 0, 0.1);

    .newsletter-content {
        max-width: 600px;
        margin: 0 auto;

        h3 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 2rem;
            color: #555;
        }
    }

    .newsletter-form {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        // @include md {
        //     // Antar att du har din breakpoint mixin
        //     flex-direction: row;
        // }

        .input-field {
            flex: 1;
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: var(--font-eb-garamond), ui-serif, Georgia, serif;

            &:focus-visible {
                border-color: variables.$color-rust-brown;
            }
        }

        .btn-theme {

            white-space: nowrap;
        }
    }

    .status-message {
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: bold;

        &.success {
            color: green;
        }

        &.error {
            color: red;
        }
    }
}