$color-eerie-black: #1d1e18;
$color-mossgreen: #69671f;
// $color-mossgreen: #5A4E1E;
$color-dark-goldenrod: #c1923d;
$color-light-goldenrod: #edd099;
$color-sage: #AB9955;
$color-black-bean: #4f1507;
$color-white: #f9f9f9;
$color-off-white: #f5f6f0;
$color-rust-brown: #A43D04;
$color-golden-earth: #A06A1A;
// Slightly lighter than $color-off-white for subtle CTA contrast
$color-cta-bg: #f4f5ec;

// Text shadow
$text-shadow-hero: 1px 1px 0 rgba(35, 35, 35, 0.2),
    2px 1.5px 0 rgba(35, 35, 35, 0.2),
    3px 2px 0 rgba(35, 35, 35, 0.2),
    4px 2.5px 0 rgba(35, 35, 35, 0.2),
    5px 3px 0 rgba(35, 35, 35, 0.2),
