@use "./core/breakpoints";
@use "./core/base";
@use "./core/variables";

@use "./core/header";
@use "./core/hero";
@use "./core/cta";
@use "./core/gallery";
@use "./core/lightBox";
@use "./core/contact";
@use "./core/newsletter";
@use "./core/care";
@use "./core/blog";
@use "./core/about";
@use "./core/footer-image";
@use "./core/footer";
// Fonts are loaded via next/font in app/layout.tsx to avoid render-blocking @import